.page{
  width: 100%;
  height: 100vh;
  padding-top: 5%;
  background-color: #9e8fb2;
background-image: linear-gradient(315deg, #9e8fb2 0%, #a7acd9 74%);
}
.container{
  width: 50%;
  margin: auto;
}
