
 .container-fluid{
   padding-top: 5%;
   height: 100vh;
 }
.login{
  width: 94%;
  margin: 5px;
  text-align: center;

}
label{
  padding-bottom: 0px;
}
h3{
  display: inline-block;
}
 .card{
   width: 50%;
   background-color: #9e8fb2;
 background-image: linear-gradient(315deg, #9e8fb2 0%, #a7acd9 74%);
 }
.remember{
  padding-left: 15px;
}
.icon{
  width: 1.5em;
  height: 1.5em;
}
.body{
  width: 100%;
  height: 100%;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}
